<main>
    <div class="first-open" *ngIf="firstOpen" @opacityAnimation>
        <span>Kattintson egy szövegbuborékra</span>
    </div>
    <div class="image-wrapper" (click)="onBackgroundClick()">
        <img src="/assets/background.jpg" alt="" #image>
        <div class="bubble-container" (click)="onBubbleClick(i, $event)" *ngFor="let bubble of bubbles; let i = index"
            [ngClass]="{
            left: bubble.left,
            down: bubble.down,
            highlight: i == 10 && firstOpen
        }" [ngStyle]="{
            left: (bubble.x / 1236) * imageWidth + 'px',
            top: bubble.y / 949 * imageHeight + 'px',
            fontSize: 16 / 949 * imageHeight + 'px'
        }">
            <div class="image-container">
                <img src="/assets/bubble.png" alt="">
            </div>
            <div class="big-bubble" @opacityAnimation *ngIf="selectedBubble == i" [ngStyle]="{
                left: (-100 - bubble.x / 4) / 949 * imageHeight+'px'
            }">
                <span>{{bubble.text}}</span>
            </div>
        </div>
    </div>
    <div class="credits">
        <span><a href="https://hitoktatas2.lutheran.hu/">Evangélikus hitoktatás</a></span>
        <span><a href="https://pesthidegkut.egyhazkozseg.hu/">Pesthidegkúti Egyházközség</a></span>
        <span><a href="https://www.facebook.com/Pesthidegk%C3%BAti-Evang%C3%A9likus-Egyh%C3%A1zk%C3%B6zs%C3%A9g-102399881408746">Facebook</a></span>
        <span>Grafika: <a href="http://bodikati.uw.hu/index.html">Bódi Kati</a></span>
    </div>
</main>