<main>
    <div class="first-open" *ngIf="firstOpen" @opacityAnimation>
        <span>Kattintson egy szövegbuborékra</span>
    </div>
    <div class="image-wrapper" (click)="onBackgroundClick()">
        <img src="/assets/background.jpg" alt="">
        <div class="bubble-container" (click)="onBubbleClick(i, $event)" *ngFor="let bubble of bubbles; let i = index"
            [ngClass]="{
            left: bubble.left,
            down: bubble.down,
            highlight: i == 10 && firstOpen
        }" [ngStyle]="{
            left: bubble.x + 'px',
            top: bubble.y + 'px'
        }">
            <div class="image-container">
                <img src="/assets/bubble.png" alt="">
            </div>
            <div class="big-bubble" @opacityAnimation *ngIf="selectedBubble == i" [ngStyle]="{
                left: -80 - bubble.x / 5+'px'
            }">
                <span>{{bubble.text}}</span>
            </div>
        </div>
    </div>
    <div class="credits">
        <span>Grafika: <a href="http://bodikati.uw.hu/index.html">Bódi Kati</a></span>
    </div>
</main>